body
{
    height: 100%;
    margin: 0;
}
html
{
    height: 100%;
}

/* First Frame */

.first_frame
{
    height: 100%
}
.menu_logo
{
    height: 25px;
}
.menu_button
{
    height: 30px;
    width: 50px;
    background: url("MenuButtonBlack.png") center / 50px 30px no-repeat;
    border: 0px;
}
.menu_flex
{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
}
.delivery_button
{
    width: 87%;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;

    height: 65px;
    background-color: #3BB4DA;
    border: 0px solid;
    border-radius: 10px;
    text-align: left;
    padding-left: 15px;

    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
}
.popular
{
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    margin-top: 25px;
    font-size: 27px;
    font-weight: 700;
    text-align: center;
}
.popular_img_first_row
{
    width: 87%;
    display: flex;
    margin-left: 25px;
    justify-content: space-evenly;
}
.popular_img_second_row
{
    width: 87%;
    display: flex;
    margin-left: 25px;
    margin-top: 20px;
    justify-content: space-evenly;
}
.image_1
{
    width: 200px;
    height: 100px;
    background: url("img/image-1.png") center / 200px 100px no-repeat; 
    border: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 1000;
    padding-top: 70px;
}
.image_2
{
    width: 100px;
    height: 100px;
    background: url("img/image-2.png") center / 100px 100px no-repeat; 
    border: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 1000;
    padding-top: 70px;
}
.image_3
{
    width: 200px;
    height: 100px;
    background: url("img/image-3.png") center / 200px 100px no-repeat; 
    border: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 1000;
    padding-top: 70px;
}
.image_5
{
    width: 100px;
    height: 100px;
    background: url("img/image-5.png") center / 100px 100px no-repeat; 
    border: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 1000;
    padding-top: 60px;
}
.shops
{
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    margin-top: 25px;
    font-size: 27px;
    font-weight: 700;
    text-align: center;
}
.shops_first_row
{
    width: 87%;
    display: flex;
    margin-left: 25px;
    justify-content: space-evenly;
}
.shops_second_row
{
    width: 87%;
    display: flex;
    margin-left: 25px;
    margin-top: 20px;
    justify-content: space-evenly;
}
.shops_third_row
{
    width: 87%;
    display: flex;
    margin-left: 25px;
    margin-top: 20px;
    justify-content: space-evenly;
}
.shopA
{
    width: 150px;
    height: 50px;
    background: url("img/shopButtonA.png") center / 150px 50px no-repeat;
    border: 0;
    border-radius: 10px; 
}
.shopB
{
    width: 150px;
    height: 50px;
    background: url("img/shopButtonB.png") center / 150px 50px no-repeat;
    border: 0;
    border-radius: 10px; 
}
.shopC
{
    width: 150px;
    height: 50px;
    background: url("img/shopButtonC.png") center / 150px 50px no-repeat;
    border: 0;
    border-radius: 10px; 
}
.shopD
{
    width: 150px;
    height: 50px;
    background: url("img/shopButtonD.png") center / 150px 50px no-repeat;
    border: 0;
    border-radius: 10px; 
}
.shopE
{
    width: 150px;
    height: 50px;
    background: url("img/shopButtonE.png") center / 150px 50px no-repeat;
    border: 0;
    border-radius: 10px; 
}
.shopF
{
    width: 150px;
    height: 50px;
    background: url("img/shopButtonF.png") center / 150px 50px no-repeat;
    border: 0;
    border-radius: 10px; 
}
.dairyProducts
{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    margin-top: 25px;
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    background-color: #3BB4DA;
    height: 50px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.dairy_first_row
{
    width: 87%;
    display: flex;
    margin-left: 25px;
    margin-top: 20px;
    justify-content: space-evenly;
}
.image_12
{
    width: 100px;
    height: 100px;
    background: url("img/image-12.png") center / 100px 100px no-repeat; 
    border: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 1000;
    padding-top: 70px;
}
.image_13
{
    width: 200px;
    height: 100px;
    background: url("img/image-13.png") center / 200px 100px no-repeat; 
    border: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 1000;
    padding-top: 70px;
}
.dairy_second_row
{
    width: 87%;
    display: flex;
    margin-left: 25px;
    margin-top: 20px;
    justify-content: space-evenly;
}
.image_14
{
    width: 100px;
    height: 100px;
    background: url("img/image-14.png") center / 100px 100px no-repeat; 
    border: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 1000;
    padding-top: 70px;
}
.image_15
{
    width: 100px;
    height: 100px;
    background: url("img/image-15.png") center / 100px 100px no-repeat; 
    border: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 1000;
    padding-top: 70px;
}
.image_16
{
    width: 100px;
    height: 100px;
    background: url("img/image-16.png") center / 100px 100px no-repeat; 
    border: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 1000;
    padding-top: 70px;
}

