body
{
    height: 100%;
    margin: 0;
}
html
{
    height: 100%;
}

/* First Frame */

.first_frame
{
    height: 100%
}
.logo
{
    margin-left: 25px;
    margin-top: 35px;
    height: 25px;
}
.menu_button
{
    justify-content: flex-end;
}